@font-face {
    font-family: 'Heebo';
    src: url('../assets/fonts/heebo.regular.ttf');
}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('../assets/fonts/heebo.black.ttf');
}


html,
body {
    -webkit-user-select: none;
    user-select: none;
    font-family: "Heebo";
    font-weight: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* 注 */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f45d;
    font-size: 2em;
    font-weight: 800;
    color: #005f90;
}
.title-text {
    font-size: 1.8rem;
}

.d-n {
    display: none;
}

.goal-lomda {
    padding: 0% 5%;
    position: relative;
    top: -5%;
}

.open-screen {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    background-color: #428acd;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}

.btnNext {
    bottom: -18%;
    left: 25%;
    position: absolute;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: #005f90;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btnContinue {
    bottom: -28%;
    left: 34%;
    position: absolute;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: #005f90;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
.text-screen {
    padding: 0% 10%;
    position: relative;
    top: -7%;
}

.loader>img {
    width: 80vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.loader>p {
    width: 100%;
    text-align: center;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%);
}
.loader.fade {
    animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* 爪注 */
.blue {
    filter: hue-rotate(140deg);
}

.lightGreen {
    /* filter: hue-rotate(30deg); */
    filter: hue-rotate(140deg);

}

.teal {
    /* filter: hue-rotate(110deg); */
    filter: hue-rotate(140deg);
    
}

.purple {
    /* filter: hue-rotate(205deg); */
    filter: hue-rotate(140deg);
   
}

.yellow {
    /* filter: hue-rotate(301deg) brightness(29%) saturate(5); */
    filter: hue-rotate(140deg);
  
}

.orange {
    /* filter: hue-rotate(320deg); */
    filter: hue-rotate(140deg);
}   

.darkGreen {
    /* filter: hue-rotate(80deg); */
    filter: hue-rotate(140deg);

}

.pink {
    /* filter: hue-rotate(280deg); */
    filter: hue-rotate(140deg);
 
}

.gray {
    filter: grayscale(100);
    /* filter: hue-rotate(140deg); */
   
}

.red {
    /* filter: hue-rotate(301deg) brightness(29%) saturate(5); */
    filter: hue-rotate(140deg);
}

.sub-titles {
    font-weight: bold;
    padding-top: 0.7em;
}
 
 .center-text {
    text-align: center;
    padding: 0% 5%;
    margin-top: 1.5em;
 }
.bold-text {
    font-weight: 700;
    font-size: 1.3rem;
}
.wave {
    width: 100%;
    /* z-index: 1000; */
}
/* 拽 注 */
.topButton {
    width: 18vw;
    position: absolute;
    top: 17vh;
    left: 3vw;
    z-index: 1000;
}

.titleConeiner {
    color: #f4f4f4;
    font-weight: 800;
    font-size: 2rem;
    position: fixed;
    top: 0vh;
    width: 100vw;
    text-align: center;
    /* z-index: 5; */
}

.title {
    font-size: 2.2rem;
    position: relative;
    top: -8rem;
    width: 100vw;
    text-align: center;
    color: white; 
    font-family: 'Heebo-Bold';
    /* font-weight: 400; */
}

.titleMedShelfs {
    font-size: 2.2rem;
    text-align: center;
    color: white; 
    font-weight: 400;
}

.titelMedId {
    right: 1vw;
    /* font-size: 0.6em; */
}
/* 驻砖 */
.searchBoxHolder {
    width: 73vw;
    position: absolute;
    top: 8vh;
    left: 3vw;
    z-index: 2;
}

.searchBox {
    width: 52vw;
    border-radius: 10vw;
    position: absolute;
    top: 9.7vh;
    left: 20vw;
    border: none;
    background-color: #f4f4f4;
    padding-bottom: 1em;
    padding-top: 1em;
    direction: ltr;
    font-family: "Heebo";
    text-align: center;
    z-index: 2;
    outline: none;
}

.searchBox:focus {
    outline: none;
    top: 11vh;
}

.dropDown {
    pointer-events: none;
    width: 73vw;
    height: 63vh;
    position: absolute;
    left: 3vw;
    top: 23vh;
    overflow-y: scroll;
}

.dropDownItem {
    width: 73vw;
    height: 7vh;
    border-radius: 20vw;
    text-align: center;
    padding-top: 0.4em;
    margin-top: 0.1em;
    background-color: #f4f4f4;
}

.darkScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
    top: 0;
}

/* 转 */
.aboutButton {
    width: 7vw;
    position: absolute;
    top: 2vh;
    left: 3vw;
}

.aboutPage {
    padding: 0vh 5vw;
    height: 79vh;
    width: 90vw;
    position: absolute;
    top: 17vh;
    overflow: hidden;
    color: #16425b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.namesAbout {
    padding: 0% 12%;
    text-align: center;   
}
.aboutHeadline {
    width: 20vw;
    color: #16425b;
    display: block;
    /* margin: auto; */
    font-weight: 800;
    font-size: 2.5em;
    position: relative;
    top: 0vh;
    left: 5vw;
}

.logos {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80vh;
}

.logos>img {
    width: 21vw;
}

.logotill {
 
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0vh;
    width: 21vw;
}
/* 转专 砖 转专驻转 砖砖 转 */
.mainPageButton {
    border-radius: 0.8em;
    height: 16vh;
    width: 66vw;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0000009c;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-text {
    color: #024566;
}
.blueCard {
    background-image: url("../assets/images/cards/Asset\ 7.svg");
    background-repeat: no-repeat;
}

.orangeCard {
    background-image: url("../assets/images/cards/Asset\ 8.svg");
    background-repeat: no-repeat;
}

.yellowCard {
    background-image: url("../assets/images/cards/Asset\ 10.svg");
    background-repeat: no-repeat;
}

.pinkCard {
    background-image: url("../assets/images/cards/Asset\ 11.svg");
    background-repeat: no-repeat;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.name-table {
    text-align: center;
    padding: -4% 5%;
    font-size: 1.2rem;
}

.homePageButtonsScroll::-webkit-scrollbar {
    display: none;
}

.medHeadline {
    width: 60vw;
    position: relative;
    left: 0vw;
    font-size: 1.6rem;
    color: #202020;
    padding: 0% 23%;
}

.td-tabel {
    text-align: center;
    font-size: 1rem;
    padding: 0% 0%;
    width: 40%;
}

.text-tab {
    background-color: #7a0101;
    color: white;
    text-align: center;
    width: 50%;
    font-size: 1.1rem;
    position: relative;
    top: 40%;
    height: 20%;
    transform: rotate(270deg);
    padding: 0% 2%;
}

.picLeft {
    margin-left: 2vw;
}

.mainPagePic {
    width: 30%;
    margin-right: 2vw;
}

.homePageButtonsScroll {
    overflow-y: scroll;
    height: 70vh;
    margin-top: 9em;
    width:100%;
}

.testButton {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.testButton-practice {
    top: 2vh;
    left: 80vw;
}
/* 转注转 转 砖 转专驻转 */
.medicineId {
    pointer-events: none;
    padding: 1vh 4vw;
    height: 65vh;
    width: 92vw;
    position: absolute;
    top: 22vh;
    overflow-y: scroll;
}

.medicineId::-webkit-scrollbar {
    display: none;
}

.pic {
    /* width: 42vw; */
    height: 23vh;
    position: absolute;
    left: 5vw;
}

.idNextToPic {
    width: 42vw;
}

/* 驻 砖 转专驻转 */
.downButton {
    width: 8vw;
    position: absolute;
    margin-top: 2rem;
    left: 4vw;
}

.shelfs {
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    background-color: white;
    z-index: 1;
    margin-top: 1.5rem;
}

.shelf {
    position: relative;
    top: 4vh;
}

.shelfHedline {
    position: relative;
    text-align: center;
    font-weight: 350;
    font-size: 1.15rem;
    padding-right: 1em;
}

.shelfsdropDown {
    padding: 0 1em;
    font-size: 1.1em;
}

.shelfMedPic {
    height: 7vh;
    padding: 0.5em;
    padding-right: 0.1em;
}

.shelfMedPicContainer {
    background-color: white;
    height: fit-content;
    border-radius: 1em;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1em;
    direction: rtl;
    padding: 6% 20%;
    text-align: center;
}

.shelfPicSection {
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.medShelf {
    height: 62vh;
    overflow-y: scroll;
    margin-top: 9.5em;
}

.medShelf::-webkit-scrollbar {
    display: none;
}

.medTypeSymbol {
    width: 17vw;
    position: fixed;
    top: 2.5vh;
    left: 80vw;
}

.shelfsButtons {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    width: 25vw;
}

.homeButton {
    width: 10vw;
    position: absolute;
    right: -15vw;
    bottom: 0vh;
}

.introductionText {
    padding: 1% 10%;
    font-weight: 800;
    text-align: center;
    font-size: 1.3rem;
}

.introdText {
    text-align: center;
}

.impText {
    padding: 3%;
    background-color: #7a0101;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonInList {
     display: inline-block;
    padding: 2% 3%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: rgb(0 0 0);
    background-color: #aaabaa75;
    border-radius: 5px;
    /* border: 2px solid #aaabaa00; */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.buttonText {
    text-align: center;
   position: relative;
}

.buttonText::after {
    content: '';
    /* content: "&#9757;&#127995"; */
    position: absolute;
    bottom: -1rem;
    /* left: 0; */
    right: 0;
    font-size: 1.5rem;
    transform: rotate(330deg);
}

.btnDown {
    text-align: center;
    position: relative;
    right: 24vw;
    align-content: center;
}

.div-text {
    text-align: center;
}

.mahaz-div {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: solid 1.5px #000000;
}

/* .shelfButton { */
/* font-weight: 500; */
/* box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.5), 0px 0px 1px rgb(0 0 0 / 50%); */
/* color: aliceblue;
    font-size: 1.1rem;
    border-radius: 1vw;
    width: 50%; */
/*   
} */

.div-conclustion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0% 10% 5%;
    font-size: 1.3rem;
    position: relative;
    top: 6rem;
}

.big-list {
    font-weight: 500;
    font-size: 1rem;
    top: 10%;
    position: relative;
}

.searchButton[src="../assets/images/grapics/home-page/search-button.svg"] {
    display: none;
    pointer-events: none;
}

.testBtn {
    background-color: #bc0505;
    color: #fcfcfc;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    width: 50%;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: none;
    padding-block: 1%;
}

.img-screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
}

.signBahd10 {
    width: 12%;
    top: 0.5rem;
    position: absolute;
    right: 0.5rem;
}

.signForce {
    position: absolute;
    width: 26%;
    top: 1rem;
    right: 3.5rem;
}

.href-div {
    display: flex;
    justify-content: center;
    right: 5%;
    flex-direction: column;
    position: relative;
}

.what-the-problem {
    text-align: center;
    margin-top: 2em;
}
a {
    font-size: 1.2rem;
    margin-bottom: 15px; /* Adjust the spacing as needed */
    /* text-decoration: none; Optional: Remove underline from links */
    color: #b70404; /* Optional: Set link color */
}
.href-div a:last-child {
    margin-bottom: 0; /* Remove margin from the last link */
}